<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16F73</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>XCCodeDeclaration</string>
	<key>CFBundleExecutable</key>
	<string>XCCodeDeclaration</string>
	<key>CFBundleIdentifier</key>
	<string>Jacue.XSEExtension.XCCodeDeclaration</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XCCodeDeclaration</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0832</string>
	<key>DTXcodeBuild</key>
	<string>8E2002</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>Base64.SourceEditorCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>base64</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>Unicode.SourceEditorCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>unicode</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>Alignment.SourceEditorCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Alignment</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>Getter.SourceEditorCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Getter</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017年 Jacue. All rights reserved.</string>
</dict>
</plist>
